

/* imagen, TEXTOS SUPERPUESTOS*/

.wrap_nosotros {
    width: auto;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/DSC_7038.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  
  .wrap_texto_nosotros {
    color: #fff;
    width: 50%;
    font-size: 35pt;
    font-weight: 200;
    text-align: center;
  }
  
  .wrap_servicios {
    width: auto;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/DSC_7038.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  
  .wrap_texto_servicios {
    color: #fff;
    width: 50%;
    font-size: 35pt;
    font-weight: 200;
    text-align: center;
  }
  
  

            .main {
                  .container_contacto_formulario {
                    .listacontactos{

                    
                    align-items: center;
                    align-content: center;
                    
                    padding-bottom: 10 10 10 10;
                  
                  }

                  .textos_formularios {
                    font-size: 30px;
                  }
                }
                  
                  




            }










  
