@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;500&display=swap");



 
  
  body {
    font-family: "Inconsolata", " monospace";
    background-image: linear-gradient(
      to right top,
      #bb8e27,
      #c36835,
      #b8474b,
      #9b3260,
      #6d2e6c,
      #553a79,
      #36437f,
      #00497e,
      #005e8c,
      #007292,
      #008491,
      #12968d
    );

     *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

  }

  
  
  