




main { 

    div.video_youtube { 
      

      iframe { 
      width:100% ;

      }
    }

    div.cajas_inicio_descripcion { 

      div.col-lg { 

        div.textos_index { 

          h1.text_titulo { 
            padding-top: 50px;
            padding-bottom: 50px;
            text-shadow: 3px 4px 8px rgba(0,0,0,0.6) ;
            font-size: 50px;
            text-align: center;
            align-content: center;
            margin: 0;


          }

          

          p { 
            padding-top: 50px;
            padding-bottom: 50px;
            text-shadow: 3px 4px 8px rgba(0,0,0,0.6);
            font-size: 40px;
            font-weight: 200;
            text-align: center;
            align-content: center;
            margin: 0;

            

          }
        }
      }
    }
  }


  div.col-lg { 

    div { 
  
      div.carousel-inner { 
  
        div.carousel-item { 
  
          img.d-block { 
            width: 1200px;
            height: 600px;


          }
        }
      }
    }
  }
  

  


  











