


    .img-fluid {
        padding-left: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 150px;
        height: 150px;
        

        

    

    }

    .container-fluid{
        background-color: rgba(255, 255, 255, 0.432);
        font-size: 40px;
        font-weight: 400;
        
        
    }

    

    




    